@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    display: none;
}
.custom-nav {
    position: relative;
}
@media only screen and (max-width: 768px) {
    body {
        background-attachment: scroll;
        /* Other mobile-specific styles */
    }
}

.custom-nav:after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 1px;
    left: -1px;
    top: 1.6rem;
    transition: all 0.5s ease;
}
.custom-link {
    position: relative;
}

.custom-link:after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 1px;
    left: -1px;
    top:2.8rem;
    transition: all 0.5s ease;
}

.custom-button {
    outline-offset: -3px;
    outline: 1px solid black;
}

.custom-button:hover {
    outline:1px solid black;
}

.custom-nav:hover:after,
.custom-nav.active:after {
    width: 100%;
}
.custom-link:hover:after,
.custom-link.active:after {
    width: 85%;
}

.custom-menu-bg {
    background-image: url("/assets/menus/section2.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.custom-about-bg{
    background-image: url("/assets/aboutcorbins.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
}
.custom-contact-bg{
    background-image: url("/assets/contact.avif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
}
.custom-home-bg{
    background-image: url("/assets/home.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
}

.custom-home-scroll1{
    background-image: url("/assets/home/wine-scroll.avif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
        background-attachment: fixed;
}
.custom-home-scroll2{
    background-image: url("/assets/home/scroll2.avif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
}
.custom-findUs{
    background-image: url("/assets/home/findus.jpg");
        background-repeat: no-repeat;
        background-position:left;
        background-size: contain;
        background-attachment: fixed;
}
.custom-contacts{
    background-image: url("/assets/contact-form.avif");
        background-repeat: no-repeat;
        background-position:left;
        background-size: contain;
        background-attachment: fixed;
}

.custom-coffee {
    position: relative;
    width: 80%;
}

.custom-coffee::before {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-image: url("/assets/home/coffee.jpg");
    background-size: cover;
    background-position: right;
    opacity: 0.3;
    z-index: -1;
}

@media (max-width: 500px) {
    .custom-menu-bg,.custom-about-bg,.custom-home-bg,.custom-contact-bg,.custom-home-scroll1,.custom-home-scroll2,.custom-findUs,.custom-coffee {
        background-attachment: scroll;
        background-position: center top;
    }
    .custom-contacts{
        background-position: center top;
        background-size: cover;
        background-attachment: scroll;
    }
}
