@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    display: none;
}
.custom-nav {
    position: relative;
}

.custom-nav:after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 1px;
    left: -1px;
    top: 1.6rem;
    transition: all 0.5s ease;
}

.custom-nav:hover:after,
.custom-nav.active:after {
    width: 100%;
}

.custom-menu-bg{
    background-image: url("/assets/menus/menu-bg.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.custom-about-bg{
    background-image: url("/assets/aboutcorbins.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-attachment: fixed;
}
.custom-home-bg{
    background-image: url("/assets/home.jpeg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-attachment: fixed;
}

.custom-home-scroll1{
    background-image: url("/assets/home/scroll1.avif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
        background-attachment: fixed;
}
.custom-home-scroll2{
    background-image: url("/assets/home/scroll2.avif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
}
.custom-findUs{
    background-image: url("/assets/home/findus.jpg");
        background-repeat: no-repeat;
        background-position:center;
        background-size: contain;
        background-attachment: fixed;
}

.custom-coffee {
    position: relative;
    width: 80%;
}

.custom-coffee::before {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-image: url("/assets/home/coffee.jpg");
    background-size: cover;
    background-position: right;
    opacity: 0.3;
    z-index: -1;
}

.reserve-home {
    animation: updown 10s linear infinite;
}


@keyframes updown {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}