@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    display: none;
}
.custom-nav {
    position: relative;
}

.custom-nav:after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 1px;
    left: -1px;
    top: 1.6rem;
    transition: all 0.5s ease;
}

.custom-nav:hover:after,
.custom-nav.active:after {
    width: 100%;
}

.custom-menu-bg{
    background-image: url("/assets/menus/menu-bg.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.custom-about-bg{
    background-image: url("/assets/aboutcorbins.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}
.custom-about-section{
    background-image: url("/assets/about2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}

